framework:
  secret: '%env(APP_SECRET)%'
  http_method_override: false
  handle_all_throwables: true
  php_errors:
    log: true
  session:
    handler_id: null
    cookie_secure: auto
    cookie_samesite: lax
    storage_factory_id: session.storage.factory.native

  # Enable Twig
  default_locale: de
  translator:
    default_path: '%kernel.project_dir%/translations'
    fallbacks:
      - de

when@test:
  framework:
    test: true
    session:
      storage_factory_id: session.storage.factory.mock_file
