{% extends 'base.html.twig' %}
{% block title %}
  Fenster - Fenster & Türen-Welt
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-12">
      <h2>Fenster</h2>
      <hr />
      <p>
        Wir bieten Ihnen einen professionellen Verkaufs-Service und die komplette Installation von Fenstern namhafter Hersteller.
      </p>
      <p>
        Sie erhalten die Fenster in den Materialien Kunststoff, Aluminium und Holz.
      </p>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Kunststoff-Fenster</h2>
    </div>
  </div>

  {# Fenster Iglo Energy #}
  <div class="row">
    <div class="col-3">
      <a href="#fensterIgloEnergy" role="button" data-bs-toggle="modal"><img src="/images/fenster-iglo-energy.jpg" alt="" class="img-rounded" style="margin-top: 20px" /></a>
    </div>
    <div class="col-9">
      <h3>IGLO ENERGY</h3>
      <p>
        Das neue Fenster <strong>IGLO ENERGY</strong> ist eine Eigenentwicklung von DRUTEX S.A. Es ist entworfen worden, um den Kunden erfreuen zu können, dass er ein modernes Produkt benutzt, das durch entwickelte Forschung entstanden ist. IGLO ENERGY ist ein Produkt, was den besten Isolationswert von <strong>Uw = 0,6 W/(m2K)</strong>* auf dem Markt erreicht. Es ist ein absoluter Rekord in Hinsicht auf Energieersparnis. Das Fenster besitzt ein innovatives System von Abdichtung, dass nur im Angebot der Firma DRUTEX S.A. erhältlich ist, das auch für die besten Werte sorgt. Das erste Mal auf der Welt benutzt Drutex eine Zweikomponentendichtung mit geschäumten EPDM als Mitteldichtung. <strong>IGLO ENERGY</strong> ist eine Investition in überdurchschnittliche Qualität
        und hohe Energieersparnis. Das ist ein Fenster, das Wärme in jedem Haus bewahrt unabhängig davon wie die Wetterbedienungen sind.
      </p>
      <p>
        <small>*Bei Fenstermass 1230mmx1480mm laut Untersuchung von CSI in Tschechen</small>
      </p>
      <p>
        <a href="#fensterIgloEnergy" role="button" class="btn btn-info" data-bs-toggle="modal">Weitere Informationen anzeigen</a>
      </p>
    </div>
  </div>

  {# Fenster Iglo Energy Classic #}
  <div class="row">
    <div class="col-3">
      <a href="#fensterIgloEnergyClassic" role="button" data-bs-toggle="modal"><img src="/images/fenster-iglo-energy-classic.jpg" alt="" class="img-rounded" style="margin-top: 20px" /></a>
    </div>
    <div class="col-9">
      <h3>IGLO ENERGY Classic</h3>
      <p>
        Das neue Fenster <strong>IGLO ENERGY Classic</strong> ist eine Eigenentwicklung von DRUTEX S.A. Es ist entworfen worden, um den Kunden erfreuen zu können, dass er ein modernes Produkt benutzt, das durch entwickelte Forschung entstanden ist. <strong>IGLO ENERGY Classic</strong> ist ein Produkt, was den besten Isolationswert auf dem Markt erreicht. Es ist ein absoluter Rekord in Hinsicht auf Energieersparnis. Das Fenster besitzt ein innovatives System von Abdichtung, dass nur im Angebot der Firma DRUTEX S.A. erhältlich ist, das auch für die besten Werte sorgt. <strong>Das erste Mal auf der Welt benutzt Drutex eine Zweikomponentendichtung mit geschäumten EPDM als Mitteldichtung</strong>. <strong>IGLO ENERGY Classic</strong> ist eine Investition in überdurchschnittliche
        Qualität und hohe Energieersparnis. Das ist ein Fenster, das Wärme in jedem Haus bewahrt unabhängig davon wie die Wetterbedienungen sind.
      </p>
      <p>
        <a href="#fensterIgloEnergyClassic" role="button" class="btn btn-info" data-bs-toggle="modal">Weitere Informationen anzeigen</a>
      </p>
    </div>
  </div>

  {# Fenster Iglo5 #}
  <div class="row">
    <div class="col-3">
      <a href="#fensterIglo5" role="button" data-bs-toggle="modal"><img src="/images/fenster-iglo5.jpg" alt="" class="img-rounded" style="margin-top: 20px" /></a>
    </div>
    <div class="col-9">
      <h3>IGLO5</h3>
      <p>
        <strong>Profil GL SYSTEM - ein Fünfkammersystem mit Bautiefe von 70 mm und mit Außendichtung.</strong><br />Wärmegedämmtes GL SYSTEM wurde von der Firma DRUTEX SA entwickelt für Kunden die schätzen Estethik und Eleganz. 5-Kammersystem mit der entsprechender Dichtheit von Verglasung sowie auch der Blendrahmen sichert Stabilität und eine gute thermische Isolierung. Fenster die von dem GL SYSTEM ausgeführt wurden kann man in verschiedenen Modellen bekommen und abgerundete Kanten entsprechen dem neusten Trend auf dem Fenstermarkt. GL SYSTEM kreiert Möglichkeit den Kunden Fenster mit einer guten Funktionalität anzubieten, das entsprechend in einer guten Qualität unter Esthetik ist.
      </p>
      <p>
        <a href="#fensterIglo5" role="button" class="btn btn-info" data-bs-toggle="modal">Weitere Informationen anzeigen</a>
      </p>
    </div>
  </div>

  {# Fenster Iglo5 Classic #}
  <div class="row">
    <div class="col-3">
      <a href="#fensterIglo5Classic" role="button" data-bs-toggle="modal"><img src="/images/fenster-iglo5-classic.jpg" alt="" class="img-rounded" style="margin-top: 20px" /></a>
    </div>
    <div class="col-9">
      <h3>IGLO5 Classic</h3>
      <p>
        <strong>Profil GL SYSTEM - ein Fünfkammersystem mit Bautiefe von 70 mm und mit Außendichtung.</strong><br />Wärmegedämmtes GL SYSTEM ist das Ergebnis von DRUTEX SA um die Vorstellungen den Kunden vorauszuschauen. Die Kombination von der hohen Masse des thermischen und akustischen Schutz als auch der zuverlässigen Funktionalität macht die Profile zum Synonym der modernen Technologie und Eleganz.<br />GL SYSTEM ohne Ränder und Winkel, mit gerundeten Rahmen, Flügeln und Scheibenleisten ermöglicht solche Fenster zu bilden, die nicht nur alle funktionelle Bedingungen erfüllen, sondern auch verfeinertste Geschmäcke befriedigen können.
      </p>
      <p>
        <a href="#fensterIglo5Classic" role="button" class="btn btn-info" data-bs-toggle="modal">Weitere Informationen anzeigen</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p class="lead">
        <strong>Kunststoff-Fenster</strong> sind in folgenden Farben lieferbar:
        <a href="#fensterKunststoffFarben" role="button" class="btn btn-sm btn-primary" data-bs-toggle="modal">Farbpalette anzeigen</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Alumininium-Fenster</h2>
    </div>
  </div>

  {# Fenster MB-45 #}
  <div class="row">
    <div class="col-3">
      <a href="#fensterMB45" role="button" data-bs-toggle="modal"><img src="/images/fenster-mb45.jpg" alt="" class="img-rounded" style="margin-top: 20px" /></a>
    </div>
    <div class="col-9">
      <h3>MB-45</h3>
      <p>
        <strong>Fenster-System MB-45 das sogenannte kalte System, dient zur Herstellung der Innen- und Außenelemente, die keiner Wärmedämmung bedarf.</strong><br />Produkte aus diesem System entstehen aus der Einkammerfensterprofilen. Ihr Hauptvorteil ist Stabilität, Vielfältigkeit der Verwendung und relativ niedriger Preis. Dieses System wird auch mit Erfolg mit dem System MB-60 kombiniert, was ein Erstellen von architektonischen Elementen mit variabler Thermoisolation ermöglicht. Es ermöglicht auch die Produktion von Trennwänden, Raumkonstruktionen, Schaufenstern und Windschutzwänden.
      </p>
      <p>
        <a href="#fensterMB45" role="button" class="btn btn-info" data-bs-toggle="modal">Weitere Informationen anzeigen</a>
      </p>
    </div>
  </div>

  {# Fenster MB-60 #}
  <div class="row">
    <div class="col-3">
      <a href="#fensterMB60" role="button" data-bs-toggle="modal"><img src="/images/fenster-mb60.jpg" alt="" class="img-rounded" style="margin-top: 20px" /></a>
    </div>
    <div class="col-9">
      <h3>MB-60</h3>
      <p>
        <strong>Das Fenstersystem MB-60 ist das sogenannte warme System.</strong><br />Die Dreikammerfensterprofile werden aus zwei Aluminium-Profilen hergestellt die mit einer Zwischenlage, die ausgezeichnete thermische Eigenschaften besitzt, verbunden ist. Deswegen ist die Verwendung der zweifarbigen Profilen möglich – eine Farbe außen, eine andere innen. Das angewandte Dichtungssystem aus dem Synthetik-Kautschuk EPDM verbessert bedeutend die Wärmeisolation des Fensters, diese begrenzt auch die Erscheinung der Dampfkondensation.
      </p>
      <p>
        <a href="#fensterMB60" role="button" class="btn btn-info" data-bs-toggle="modal">Weitere Informationen anzeigen</a>
      </p>
    </div>
  </div>

  {# Fenster MB-70 #}
  <div class="row">
    <div class="col-3">
      <a href="#fensterMB70" role="button" data-bs-toggle="modal"><img src="/images/fenster-mb70.jpg" alt="" class="img-rounded" style="margin-top: 20px" /></a>
    </div>
    <div class="col-9">
      <h3>MB-70</h3>
      <p>
        <strong>MB-70 ist ein modernes Aluminiumsystem zur Ausführung von wärme- und schallgedämmten architektonischen Bauteilen im Auβenbereich, wie z.B. Fenster, Türen, Windfänge, Schaufenster, 3D-Konstruktionen.</strong>
      </p>
      <p>
        Im System werden Dreikammerprofile eingesetzt. Die Bautiefe der Fensterprofile beträgt 70 mm (Blendrahmen) und 79 mm (Flügel) und der Türprofile entsprechend 70 mm und 70 mm. Die so gestalteten Tiefen der Flügel- und Blendrahmenprofile geben den Eindruck einer einheitlichen Oberfläche von außen, flächenbündige Profile. Mit der Profilform kann man schlanke und stabile Fenster- und Türkonstruktionen herstellen.
      </p>
      <p>
        <a href="#fensterMB70" role="button" class="btn btn-info" data-bs-toggle="modal">Weitere Informationen anzeigen</a>
      </p>
    </div>
  </div>

  {# Fenster MB-70HI #}
  <div class="row">
    <div class="col-3">
      <a href="#fensterMB70HI" role="button" data-bs-toggle="modal"><img src="/images/fenster-mb70hi.jpg" alt="" class="img-rounded" style="margin-top: 20px" /></a>
    </div>
    <div class="col-9">
      <h3>MB-70HI</h3>
      <p>
        <strong>Die Konstruktion des Systems MB-70HI basiert auf bewährten, ausgebauten und anerkannten Basissystemen MB-70.</strong>
      </p>
      <p>
        Die Wärmedämmung von Rahmen dieser Systeme ist deutlich höher als die Wärmedämmung von Basissystemen. Der Wärmedurchgangskoeffizient Uf beträgt für Konstruktionen des Systems MB-70HI von 1,11 bis 2,3 W/(m2*K) je nach eingesetzten Profilen und Zubehör.
      </p>
      <p>
        <a href="#fensterMB70HI" role="button" class="btn btn-info" data-bs-toggle="modal">Weitere Informationen anzeigen</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p class="lead">
        <strong>Alumininium-Fenster</strong> sind in folgenden Farben lieferbar:
        <a href="#fensterAlumininiumFarben" role="button" class="btn btn-sm btn-primary" data-bs-toggle="modal">Farbpalette anzeigen</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Holz-Fenster</h2>
    </div>
  </div>

  {# Fenster Softline-68 Classic #}
  <div class="row">
    <div class="col-3">
      <a href="#fensterSoftline68" role="button" data-bs-toggle="modal"><img src="/images/fenster-softline-68.jpg" alt="" class="img-rounded" style="margin-top: 20px" /></a>
    </div>
    <div class="col-9">
      <h3>Softline-68</h3>
      <p>
        <strong>Die aus Kiefer- und Merantiholz ausgeführten Fenster im System Softline kennzeichnen sich durch ein modernes und ästhetisches Aussehen.</strong>
      </p>
      <p>
        Daran hat schöne Form des gerundeten Profils teil, dank welcher bekommt das Profil stromlinienförmige Gestalten glatter glänzender Fläche. Die perfekte Qualität und Beständigkeit gegen Verzug der im System Softline ausgeführten Fenster garantiert das Vollholz, dreifach schichtweise geklebt, getrocknet bis zu entsprechender Feuchtigkeit. Zusätzlich wird die Lebensdauer der Holzfenster von Imprägnierung und Grundierung verlängert. Die Rahmenschwellen und untere Flügelkanten sind mit Aluwasserschenkeln abgesichert, deren Linie mit leichten Umrissen des Ganzen übereinstimmt. Pflege der Holzfenster ist ganz einfach und dauert nicht länger als ihre Reinigung.
      </p>
      <p>
        <a href="#fensterSoftline68" role="button" class="btn btn-info" data-bs-toggle="modal">Weitere Informationen anzeigen</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p class="lead">
        <strong>Holz-Fenster</strong> sind in folgenden Farben lieferbar:
        <a href="#fensterHolzFarben" role="button" class="btn btn-sm btn-primary" data-bs-toggle="modal">Farbpalette anzeigen</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr />
      <p class="lead">
        <strong>Wir konnten Ihr Interesse wecken?</strong>
      </p>
      <p>
        Sprechen Sie uns bitte an. Wir können Ihnen zu allen vorgstellten Produkten und Variationen ausführliche Informationen geben.<br />Sehr gerne erarbeiten wir mit Ihnen zusammen eine genaue Kalkulation.
      </p>
      <p class="lead">
        <strong>Haben Sie noch weitere Fragen und Wünsche, dann stehen wir Ihnen jeder Zeit zur Verfügung.</strong>
      </p>
    </div>
  </div>

  {% include 'pages/partials/fenster_modals.html.twig' %}
{% endblock %}
