{# Kunststoff: IGLO ENERGY #}
<div class="modal fade" id="fensterIgloEnergy" tabindex="-1" aria-labelledby="fensterIgloEnergyLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fensterIgloEnergyLabel">IGLO ENERGY</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="igloEnergyTabs" role="tablist">
          <li class="nav-item" role="presentation"><button class="nav-link active" id="iglo-energy-section-tab" data-bs-toggle="tab" data-bs-target="#iglo-energy-section" type="button" role="tab" aria-controls="iglo-energy-section" aria-selected="true">Abschnitt</button></li>
          <li class="nav-item" role="presentation"><button class="nav-link" id="iglo-energy-benefits-tab" data-bs-toggle="tab" data-bs-target="#iglo-energy-benefits" type="button" role="tab" aria-controls="iglo-energy-benefits" aria-selected="false">Systemvorteile</button></li>
          <li class="nav-item" role="presentation"><button class="nav-link" id="iglo-energy-colors-tab" data-bs-toggle="tab" data-bs-target="#iglo-energy-colors" type="button" role="tab" aria-controls="iglo-energy-colors" aria-selected="false">Farbpalette</button></li>
        </ul>
        <div class="tab-content pt-3">
          <div class="tab-pane fade show active" id="iglo-energy-section" role="tabpanel" aria-labelledby="iglo-energy-section-tab">
            <div class="row g-3">
              <div class="col-md-4">
                <img src="/images/fenster-iglo-energy-abschnitt.jpg" alt="Iglo Energy Abschnitt" class="img-fluid img-rounded" />
              </div>
              <div class="col-md-8">
                <ol>
                  <li>7-Kammeraufbau GL SYSTEM mit 82&nbsp;mm Bautiefe (Rahmen) und 96&nbsp;mm (Flügel) in runder Außenform.</li>
                  <li>Mitteldichtung aus geschäumtem EPDM sorgt für Uw-Werte bis <strong>0,6 W/(m²K)</strong>.</li>
                  <li>MACO MULTI MATIC KS Beschläge mit Sicherheitspilzzapfen, optional RC&nbsp;2N.</li>
                  <li>Verglasung mit 1-, 2- oder 3-Kammerscheiben bis 48&nbsp;mm Gesamtstärke.</li>
                  <li>Große Verstärkungskammer für Stahl- oder Glasfaserverstärkungen.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="iglo-energy-benefits" role="tabpanel" aria-labelledby="iglo-energy-benefits-tab">
            <ul>
              <li>Hervorragende Lösung für Passivhäuser dank Uw bis 0,6 W/(m²K).</li>
              <li>Innovatives Dichtungssystem mit geschäumtem EPDM für beste Luft- und Schlagregendichtheit.</li>
              <li>Hoher Schallschutz mit Rw 32–35&nbsp;dB.</li>
              <li>28 Renolitfolien für maximale Gestaltungsfreiheit.</li>
              <li>Elegante Aluminiumoliven im Lieferumfang verfügbar.</li>
            </ul>
            <p>
              <small>* Werte basieren auf Prüfungen von CSI Tschechien.</small>
            </p>
          </div>
          <div class="tab-pane fade" id="iglo-energy-colors" role="tabpanel" aria-labelledby="iglo-energy-colors-tab">
            <img src="/images/fenster-iglo-farben.jpg" alt="Kunststoff-Farbpalette" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

{# Repeatable helper macro via include would be ideal, but keeping explicit blocks for clarity #}

<div class="modal fade" id="fensterIgloEnergyClassic" tabindex="-1" aria-labelledby="modalIgloEnergyClassicLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fensterIgloEnergyClassicLabel">IGLO ENERGY Classic</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#iglo-energy-classic-section" type="button">Abschnitt</button></li>
          <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#iglo-energy-classic-benefits" type="button">Systemvorteile</button></li>
          <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#iglo-energy-classic-colors" type="button">Farbpalette</button></li>
        </ul>
        <div class="tab-content pt-3">
          <div class="tab-pane fade show active" id="iglo-energy-classic-section">
            <div class="row g-3">
              <div class="col-md-4">
                <img src="/images/fenster-iglo-energy-classic-abschnitt.jpg" alt="Iglo Energy Classic Abschnitt" class="img-fluid img-rounded" />
              </div>
              <div class="col-md-8">
                <ol>
                  <li>7-Kammeraufbau mit 82&nbsp;mm Bautiefe für Rahmen und Flügel.</li>
                  <li>Mitteldichtung aus geschäumtem EPDM für Premium-Dämmwerte.</li>
                  <li>MACO MULTI MATIC KS Beschläge mit optionaler RC&nbsp;2N Sicherheit.</li>
                  <li>Verglasung bis 48&nbsp;mm, inklusive Dreifach-Scheiben mit Ug 0,5.</li>
                  <li>Große Verstärkungskammer mit Stahl- oder Glasfaserarmierung.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="iglo-energy-classic-benefits">
            <ul>
              <li>Zeitloses Design mit runder Profilform.</li>
              <li>Ideal für Passivgebäude dank exzellenter Thermoisolation.</li>
              <li>Hohe Stabilität und Sicherheit durch verstärkte Profile.</li>
              <li>Schallschutz Rw 32–35&nbsp;dB.</li>
              <li>Große Farbvielfalt mit 28 Dekoren.</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="iglo-energy-classic-colors">
            <img src="/images/fenster-iglo-farben.jpg" alt="Kunststofffarben" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fensterIglo5" tabindex="-1" aria-labelledby="fensterIglo5Label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fensterIglo5Label">IGLO5</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#iglo5-section" type="button">Abschnitt</button></li>
          <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#iglo5-benefits" type="button">Systemvorteile</button></li>
          <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#iglo5-colors" type="button">Farbpalette</button></li>
        </ul>
        <div class="tab-content pt-3">
          <div class="tab-pane fade show active" id="iglo5-section">
            <div class="row g-3">
              <div class="col-md-4">
                <img src="/images/fenster-iglo5-abschnitt.jpg" alt="Iglo 5 Abschnitt" class="img-fluid img-rounded" />
              </div>
              <div class="col-md-8">
                <ol>
                  <li>Fünfkammeraufbau mit 70&nbsp;mm Bautiefe für optimale Dämmung.</li>
                  <li>EPDM-Dichtungen in speziellen Kanälen sichern Isolation langfristig.</li>
                  <li>MACO MULTI MATIC KS Beschläge mit Sicherheitspilzzapfen.</li>
                  <li>Breites Spektrum an Scheibenpaketen bis 35&nbsp;mm.</li>
                  <li>Sehr gute Statik durch verstärkte Kammern.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="iglo5-benefits">
            <ul>
              <li>Elegantes Design mit dezenten Rundungen.</li>
              <li>Optimierter Einbruchschutz dank 13&nbsp;mm Beschlagversatz.</li>
              <li>Stabile Profile mit optionaler Stahlarmierung.</li>
              <li>Große Farbauswahl (28 Dekore).</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="iglo5-colors">
            <img src="/images/fenster-iglo-farben.jpg" alt="Iglo Farbpalette" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fensterIglo5Classic" tabindex="-1" aria-labelledby="modalIglo5ClassicLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fensterIglo5ClassicLabel">IGLO5 Classic</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#iglo5-classic-section" type="button">Abschnitt</button></li>
          <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#iglo5-classic-benefits" type="button">Systemvorteile</button></li>
          <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#iglo5-classic-colors" type="button">Farbpalette</button></li>
        </ul>
        <div class="tab-content pt-3">
          <div class="tab-pane fade show active" id="iglo5-classic-section">
            <div class="row g-3">
              <div class="col-md-4">
                <img src="/images/fenster-iglo5-classic-abschnitt.jpg" alt="Iglo 5 Classic Abschnitt" class="img-fluid img-rounded" />
              </div>
              <div class="col-md-8">
                <ol>
                  <li>Fünfkammerprofil mit 70&nbsp;mm Bautiefe.</li>
                  <li>EPDM Dichtungen für dauerhaften Schutz.</li>
                  <li>MACO MULTI MATIC KS Beschläge inkl. RC&nbsp;2N Option.</li>
                  <li>Verglasung bis 35&nbsp;mm, inklusive Dreifachoptionen.</li>
                  <li>Große Verstärkungskammer für höhere Statik.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="iglo5-classic-benefits">
            <ul>
              <li>Moderne, harmonische Optik durch abgerundete Profile.</li>
              <li>Hohe Wärmedämmung und Schallschutz.</li>
              <li>Großer Gestaltungsspielraum dank vielfältiger Dekore.</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="iglo5-classic-colors">
            <img src="/images/fenster-iglo-farben.jpg" alt="Iglo Farbpalette" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fensterKunststoffFarben" tabindex="-1" aria-labelledby="fensterKunststoffFarbenLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fensterKunststoffFarbenLabel">Kunststoff-Fenster Farbpalette</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body text-center">
        <img src="/images/fenster-iglo-farben.jpg" alt="Kunststoff Farbpalette" class="img-fluid" />
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

{# Aluminium Modals #}
<div class="modal fade" id="fensterMB45" tabindex="-1" aria-labelledby="fensterMB45Label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fensterMB45Label">MB-45</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#mb45-section" type="button">Abschnitt</button></li>
          <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#mb45-benefits" type="button">Systemvorteile</button></li>
          <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#mb45-colors" type="button">Farbpalette</button></li>
        </ul>
        <div class="tab-content pt-3">
          <div class="tab-pane fade show active" id="mb45-section">
            <div class="row g-3">
              <div class="col-md-4">
                <img src="/images/fenster-mb45-abschnitt.jpg" alt="MB-45 Abschnitt" class="img-fluid img-rounded" />
              </div>
              <div class="col-md-8">
                <ol>
                  <li>Einkammerprofil für Innen- und Außenelemente ohne Wärmedämmung.</li>
                  <li>Verglasungspakete bis 50&nbsp;mm Stärke.</li>
                  <li>Effektive Entwässerung und Belüftung.</li>
                  <li>Blendrahmentiefe 45&nbsp;mm, Flügel 54&nbsp;mm.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="mb45-benefits">
            <p>
              Flexibel kombinierbar mit MB-60, ideal für Raumtrennwände, Schaufenster oder Windfänge.
            </p>
            <ul>
              <li>Verglasung mit Glasscheiben aller Art, 1–36&nbsp;mm.</li>
              <li>Breite Farbpalette (Pulverbeschichtung oder Eloxal).</li>
              <li>Rund-, Stich- und Korbbögen möglich.</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="mb45-colors">
            <img src="/images/fenster-mb-farben.jpg" alt="MB Farbpalette" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fensterMB60" tabindex="-1" aria-labelledby="fensterMB60Label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fensterMB60Label">MB-60</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#mb60-section" type="button">Abschnitt</button></li>
          <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#mb60-benefits" type="button">Systemvorteile</button></li>
          <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#mb60-colors" type="button">Farbpalette</button></li>
        </ul>
        <div class="tab-content pt-3">
          <div class="tab-pane fade show active" id="mb60-section">
            <div class="row g-3">
              <div class="col-md-4">
                <img src="/images/fenster-mb60-abschnitt.jpg" alt="MB-60 Abschnitt" class="img-fluid img-rounded" />
              </div>
              <div class="col-md-8">
                <ol>
                  <li>Dreikammersystem mit thermischer Trennung.</li>
                  <li>Verglasung bis 50&nbsp;mm.</li>
                  <li>EPDM-Dichtungen für hohe Isolation.</li>
                  <li>Blendrahmentiefe 60&nbsp;mm, Flügel 69&nbsp;mm.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="mb60-benefits">
            <p>
              Geeignet für vielfältige Formen – vom Rechteck bis zum Rundbogen. Ideal bei hohen Dämm- und Schalldämm-Anforderungen.
            </p>
            <ul>
              <li>Farbpalette nach RAL oder Eloxal.</li>
              <li>Verglasung von 8–44&nbsp;mm.</li>
              <li>Wirksame Abdichtung gegen Wasserinfiltration.</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="mb60-colors">
            <img src="/images/fenster-mb-farben.jpg" alt="MB Farbpalette" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fensterMB70" tabindex="-1" aria-labelledby="fensterMB70Label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fensterMB70Label">MB-70</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#mb70-benefits" type="button">Systemvorteile</button></li>
          <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#mb70-colors" type="button">Farbpalette</button></li>
        </ul>
        <div class="tab-content pt-3">
          <div class="tab-pane fade show active" id="mb70-benefits">
            <p>
              <strong>Niedrige Uf-Werte</strong> dank spezieller Isoliersteg-Geometrie und EPDM-Dichtungen. Dreikammerprofil mit 70/79&nbsp;mm Bautiefe.
            </p>
            <p>
              Flexible Verglasung 21–57&nbsp;mm, geeignet für individuelle Lösungen von Wohn- bis Objektbau.
            </p>
          </div>
          <div class="tab-pane fade" id="mb70-colors">
            <img src="/images/fenster-mb-farben.jpg" alt="MB Farbpalette" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fensterMB70HI" tabindex="-1" aria-labelledby="fensterMB70HILabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fensterMB70HILabel">MB-70HI</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#mb70hi-benefits" type="button">Systemvorteile</button></li>
          <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#mb70hi-colors" type="button">Farbpalette</button></li>
        </ul>
        <div class="tab-content pt-3">
          <div class="tab-pane fade show active" id="mb70hi-benefits">
            <p>
              Erhöhte Wärmedämmung durch zusätzliche Isoliereinsätze zwischen den Profilen. Uf-Werte zwischen 1,11 und 2,3&nbsp;W/(m²K).
            </p>
            <p>
              Perfekt für Projekte mit höchsten Effizienzanforderungen.
            </p>
          </div>
          <div class="tab-pane fade" id="mb70hi-colors">
            <img src="/images/fenster-mb-farben.jpg" alt="MB Farbpalette" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fensterAlumininiumFarben" tabindex="-1" aria-labelledby="fensterAlumininiumFarbenLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fensterAlumininiumFarbenLabel">Alumininium-Fenster Farbpalette</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body text-center">
        <img src="/images/fenster-mb-farben.jpg" alt="Alu Farbpalette" class="img-fluid" />
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

{# Holz Modals #}
<div class="modal fade" id="fensterSoftline68" tabindex="-1" aria-labelledby="fensterSoftline68Label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fensterSoftline68Label">Softline-68</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#softline-section" type="button">Abschnitt</button></li>
          <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#softline-benefits" type="button">Systemvorteile</button></li>
          <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#softline-colors" type="button">Farbpalette</button></li>
        </ul>
        <div class="tab-content pt-3">
          <div class="tab-pane fade show active" id="softline-section">
            <div class="row g-3">
              <div class="col-md-4">
                <img src="/images/fenster-softline-68-abschnitt.jpg" alt="Softline Abschnitt" class="img-fluid img-rounded" />
              </div>
              <div class="col-md-8">
                <ol>
                  <li>Vollholz (Kiefer/Meranti), dreifach verleimt, gerundete Profile.</li>
                  <li>Wetterschenkel aus Aluminium schützt gegen UV und Wasser.</li>
                  <li>Breites Spektrum an Verglasungspaketen.</li>
                  <li>Ökologische Lackierung und Grundierung.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="softline-benefits">
            <ul>
              <li>Elegante Optik dank profilierten Glasleisten und Falz für Innenbank.</li>
              <li>Hohe Beständigkeit gegen Verzug und Verwitterung.</li>
              <li>Ausgezeichnete Dämmwerte.</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="softline-colors">
            <p>
              <strong>Kiefer Standardfarbkarte</strong>
            </p>
            <img src="/images/fenster-softline-68-farben-kiefer.jpg" alt="Kiefer Farben" class="img-fluid mb-3" />
            <p>
              <strong>Meranti Standardfarbkarte</strong>
            </p>
            <img src="/images/fenster-softline-68-farben-meranti.jpg" alt="Meranti Farben" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fensterHolzFarben" tabindex="-1" aria-labelledby="fensterHolzFarbenLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fensterHolzFarbenLabel">Holz-Fenster Farbpalette</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <p>
          Die Holzfenster sind in Deckfarben (die Palette RAL) und in Lasuren mit sichtbarer Holzstruktur erhältlich. Alle Anstriche sind umweltfreundlich.
        </p>
        <p>
          <strong>Standardfarbkarte für Kiefer:</strong>
        </p>
        <p>
          <img src="/images/fenster-softline-68-farben-kiefer.jpg" alt="Farben für Holzfenster in Kiefer" class="img-fluid" />
        </p>
        <p>
          <strong>Standartfarbkarte für Meranti:</strong>
        </p>
        <p>
          <img src="/images/fenster-softline-68-farben-meranti.jpg" alt="Farben für Holzfenster in Meranti" class="img-fluid" />
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>
